.app_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
}

.chart_container {
  background-color: #334155;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart_title {
  font-size: 24px;
  color: #fff;
  margin: 0 0 16px 0;
  text-align: center;
}